.w-40 {
    width: 47%;
}

select {
    padding: 10.5px 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    padding: 5px 20px;
}

@media (max-width: 1025px) and (min-width: 769px) {
    #main .card {
        width: 80% !important;
    }

    .left-300 {
        left: 290px !important;
    }
}