@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.head,
.headtransparent{    
    height: 5rem !important;        
}

a {
    text-decoration: none !important;
}

.w-40 {
    width: 40%;
}

.w-53 {
    width: 53%;
}

.w-30 {
    width: 30%;
}

.icon {
    color: rgb(255, 255, 255) !important;
}

input[type='search'] {
    background-image: url(../img/icons8-search-20.png);
    color: rgb(255, 255, 255);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

#navigation .navbar-nav {
    margin-top: -8px;
}

.text-link,
#breadcrumb a {    
    color: rgb(38, 38, 38);
}

#event-details .card {
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 11%) 0px 1px 1px 0px;
    border: 1px solid rgb(235, 235, 235);
}

#dropdown-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
  
#dropdown-menu .dropdown-content a {
    color: rgb(31, 38, 45);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
 
#dropdown-menu .dropdown-content a:hover {
    color: rgb(255, 255, 255);
    background-color: #026cdf;
}  
  
#dropdown-menu:hover .dropdown-content {display: block;}  

#navigation .nav-link {    
    padding: 19px 16px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-shadow: transparent 1px 0px 0px;
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

#navigation input {
    font-size: 14px;
    font-weight: 400;    
    background-color: rgba(255, 255, 255, 0.291);    
    border: 0px;
}

#navigation input::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1; 
}

.search:-ms-input-placeholder { 
    color: rgb(255, 255, 255);
}
  
.search::-ms-input-placeholder { 
    color: rgb(255, 255, 255);
}

#display, #display-md {
    display: none !important;
}

#display .back-arrow {    
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    cursor: pointer;    
}

#display .head-sm {    
    font-weight: 600;
    line-height: 1.58;    
}

#event-details .header {
    font-weight: 600;
}

#tickets .card-tickets {
    border: 1px solid #c56bff;
    border-radius: 4px;
    background-color: #f9f0ff;
    box-shadow: none;
}

.botn-primary {
    border: 1.5px solid #026cdf;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-weight: 600;
    width: 40%;    
    height: 36px;
    display: flex;
    place-items: center;    
    justify-content: space-around;
}

.botn-primary:hover,
.botn-primary:active {
    background-color: #026cdf;
    color: rgb(255, 255, 255) !important;
}

#button .botn-primary {
    width: 100% !important;
    color: #026cdf;
}

.btn-tickets {
    background: #f6f6f6;
    color: rgb(38, 38, 38);
    font-size: 12px;
    padding: 0 15px;
    font-weight: 400;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.btn-tickets:hover {
    background: rgb(175, 175, 175);
    color: rgb(38, 38, 38);    
}

.small,
.small a {
    color: rgb(175, 175, 175);
    font-size: 11px;
}

#action .border-end {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 88px;
    color: #026cdf;    
    line-height: 1.4;
    font-weight: 600;
    justify-content: center;    
}

#action .map {
    color: #026cdf;
    font-weight: 600;
}

.chatButtonWrapper {
    bottom: 30px;
    right: 20px;
    z-index: 1;
    float: right;
    position: fixed;    
}

.msg-btn:hover,
.msg-btn:active {
    background-color: #026cdf;
    color: rgb(255, 255, 255);    
}

.footer {
    background-color: rgb(31, 38, 45);
    padding: 88px 0px 20px;
}

.footer .nav-link {     
    margin-left: -30px !important;     
}

.footer a {
    color: rgb(255, 255, 255);
}

.footer a:hover,
.footera :active {
    color: #026cdf;
}

.footer-sm {
    background-color: rgb(31, 38, 45);
    padding: 16px;
}

.text-footer-sm {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 426px) and (min-width: 320px) {
    #hide {
        display: none !important;
    }

    #display {
        display: block !important;        
    }

    .head ,.headtransparent {
        padding-left:  0 !important;
    }

    #breadcrumb {
        padding: 1rem 0.2rem 0px;
        font-size: 0.8rem;        
    }

    #event-details .d-flex-sm,
    #action .card, #sponsors .d-flex {
        flex-direction: column !important;
    }    

    #d-small .card {
        flex-direction: row !important;            
    }

    #d-small, .w-22 {
        width: 100% !important;
    }

    #d-small .card, #action .card {        
        font-size: 1rem !important;
        margin-top: 10px !important;        
    }

    .h5-sm, #sponsors h5 {
        font-size: 1rem !important;
    }

    #sponsors .card {
        padding: 0 !important;
    }

    .mb-sm {
        margin-bottom: 20px !important;
    }

    .w-20 {
        width: 80% !important;
    }

    #d-small img {
        height: 50%;
        width: 30%;
        margin-top: 20px;
        border-radius: 0 !important;
    }    
    
    #d-small .card, #card-head {
        border: none !important;
    }     

    #card-head .nav-item, .nav-item .border-end {
        width: 100% !important;        
    }

    #card-head .border-end {        
        border-right: 0 !important;        
        border-radius: 0 !important;
    }
    
    #column .row {
        padding-right: 10px !important;
    }  
    
    .chatButtonWrapper {        
        right: 12px !important;
    }
}

@media (max-width: 769px) and (min-width: 426px)  {
    #hide, #display {
        display: none !important;
    }

    #display-md, #card-head #hide {
        display: block !important;        
    }

    #breadcrumb {
        margin-top: 2rem !important;           
    }

    #event-details .d-flex-sm,
    #action .card, #sponsors .d-flex {
        flex-direction: column !important;
    }    

    #d-small .card {
        flex-direction: row !important;            
    }

    #d-small, .w-22, .w-20 {
        width: 100% !important;
    }

    .mb-sm {
        margin-bottom: 20px !important;
    }

    #d-small img {
        height: 50%;
        width: 30%;
        margin-top: 20px;
        border-radius: 0 !important;
    }    
    
    #d-small .card, #card-head {
        border: none !important;
    } 
    
    #action .card-body {
        border-top: 1px solid #c4c4c4; 
    }

    #card-head .nav-pills {
        flex-wrap: nowrap !important;               
    }    

    #card-head .nav-item {
        width: 50% !important;                
        border-radius: 0 !important;        
    }

    #action .border-end {
        width: auto;
    }    

    #button .botn-primary, #sponsors img {
        width: 40% !important;
    }
}

@media (max-width: 1025px) and (min-width: 769px) {
    .botn-primary {
        width: 60% !important;
    }

    #sponsors .card-body {
    flex-direction: column !important;
   }

   #sponsors .w-22 {
    width: 100% !important;
    margin-bottom: 20px !important;
   }

    .footer {
        font-size: 14px !important;
    }

    .footer .px-5 {
        padding: 0px 10px !important;
    }
}